.logo_menu {
    width: 40px;
    height: 40px;
}

.presentacion {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ff7A00; */
    background-color: white;
}

.titulo_app {
    font-size: 5em;
    font-family: "Roboto", sans-serif;
    padding-top: 8%;
}

.descripcion_app {
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    padding-left: 25%;
    padding-right: 25%;
}

.conoce_mas {
    font-family: "Roboto", sans-serif;
    font-size: larger;
}

#nosotros {
    background-image: url('/Landing-Page/public/assets/images/Nosotros_page.JPG.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nosotros_texto {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border-radius: 30px;
}

#nosotros_texto_descripcion {
    padding: 14%;
    text-align: justify;
    text-justify: inter-word;
}

.lado_izquierdo {
    background-image: url('/Landing-Page/public/assets/images/fondo_titulo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.app_store {
    padding-bottom: 5%;
}

.metodologia_titulo {
    text-align: center;
    font-size: 70px;
}

.metodologia_unidad {
    width: 15%;
    border-color: white;
    text-align: center;
    border: 1px solid #e5e5e5;
    text-align: center;
}

.card-title {
    font-weight: bold;
}

.metodologia_descripcion {
    text-align: center;
    padding-bottom: 1%;
}

.menu {
    position: fixed;
    top: 0;
    z-index: 1030;
}

.menu_list {
    position: fixed;
    z-index: 1030;
}

.form-control {
    background-color: #FFB85D;
}

.unete_descripcion {
    background-color: #FFB85D;
}

.unete_boton {
    background-color: #FFB85D;
    color: black;
    margin-left: 40%;
    font-size: 200%;
    /* margin-right: 10%; */
}

.unete_img {
    padding-left: 35%;
}

.form-label {
    font-weight: bold;
}

.navbar-brand {
    padding-left: 1%;
    font-size: 180%;
}

.menu_titulos {
    padding-left: 74%;
    font-family: "Roboto", sans-serif;
    font-size: large;
}

.footer {
    background-color: black;
    margin-left: 0%;
    margin-right: 0%;
}

.footer_cols {
    text-align: center;
}

.footer_col1 {
    padding-top: 25%;
    color: white;
}

.footer_text {
    color: white;
    font-weight: 100;
}

.footer_logos {
    width: 45px;
    height: 50px;
}

.footer_text_tercera {
    color: white;
    text-align: left;
    font-weight: 100;
}
